<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      internalLogToConsole="true">

  <variable name="logDirectory" value="${specialfolder:dir=:file=:folder=CommonApplicationData}/Corning Incorporated/StateMachineCodeGenerator/logs/"/>

  <targets>
    <!--<target name="logfile" xsi:type="File" fileName="Calimero.txt" />-->

    <!--add your targets here-->
    <target name="LogFile" xsi:type="File" fileName="${logDirectory}Log_${date:format=yyyyMMdd}.log" layout="${longdate} | ${logger} | ${level}  ..  ${message}"/>
    <target name="LogFileTrace" xsi:type="File" fileName="${logDirectory}\LogTrace_${date:format=yyyyMMdd}.log" layout="${longdate} | ${logger} | ${level}  ..  ${message}"/>
    <target name="LogSystemTrace" xsi:type="File" fileName="${logDirectory}\LogSystemTrace_${date:format=yyyyMMdd}.log" layout="${longdate} | ${logger} | ${level}  ..  ${message}"/>
    <target name="LogTaskSchedulerTrace" xsi:type="File" fileName="${logDirectory}\LogTaskSchedulerTrace_${date:format=yyyyMMdd}.log" layout="${longdate} | ${logger} | ${level}  ..  ${message}"/>
    <target name="LogSystemNetworker" xsi:type="File" fileName="${logDirectory}\LogSystemNetworker_${date:format=yyyyMMdd}.log" layout="${longdate} | ${logger} | ${level}  ..  ${message}"/>
    <target name="LogSystemDebug" xsi:type="File" fileName="${logDirectory}\LogSystemDebug_${date:format=yyyyMMdd}.log" layout="${longdate} | ${logger} | ${level}  ..  ${message}"/>
    <target name="Console" xsi:type="ColoredConsole" layout="${longdate} | ${logger} | ${level}  ..  ${message}"/>
    <!--DO NOT MODIFY name AND xsi:type IN THE FOLLOWING LINE-->
    <target name="RichLogBuffer" xsi:type="RichBuffer" layout="${longdate}|${logger}| ${level} | ${message}"/>

    <!--<target name="RichLogBuffer" xsi:type="AsyncWrapper" queueLimit="100" timeToSleepBetweenBatches="100" batchSize="100" overflowAction="Discard">
      <target xsi:type="RichBuffer" layout="${longdate}|${logger}| ${level} | ${message}"/>
    </target>-->

  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="logfile" />-->

<!--    <logger name="CDataManager" minLevel="Trace" writeTo="LogDataManagerTrace" /> -->

    <logger name="CStateMachineCodeGeneratorSystem" minLevel="Debug" maxLevel="Error" writeTo="LogSystemDebug" />
    <logger name="CSystemNetworker" minLevel="Debug" writeTo="LogSystemNetworker" />
    <logger name="PointsInterfaceServer_WCF" minLevel="Debug" writeTo="LogSystemNetworker" />
    <logger name="PointsInterfaceClient_WCF" minLevel="Debug" writeTo="LogSystemNetworker" />
    <!-- <logger name="CSchedulerWithPriority" minLevel="Trace" writeTo="LogTaskSchedulerTrace" />-->
     <!-- <logger name="CStateMachineCodeGeneratorSystem" minLevel="Trace" writeTo="LogSystemTrace" />-->
    <!-- <logger name="*" minLevel="Trace" writeTo="LogFileTrace" /> -->
    <logger name="*" minLevel="Info" writeTo="LogFile" />
    <!-- <logger name="*" minLevel="Trace" writeTo="Console" /> -->
    <!--DO NOT MODIFY writeTo IN THE FOLLOWING LINE-->
    <logger name="*" minLevel="Info" writeTo="RichLogBuffer" />
  </rules>
</nlog>